global_defs {
    router_id LVS_DEVEL

    # Don't run scripts configured to be run as root if any part of the path
    # is writable by a non-root user.
    enable_script_security
}

vrrp_script check_api_server_script {
    script /etc/keepalived/check-apiserver.sh
    interval 3
    weight -2
    fall 10
    rise 2
}

vrrp_instance apiserver {
    state {{ vrrp_state }}
    interface {{ vrrp_interface }}
    virtual_router_id {{ vrrp_virtual_router_id }}
    priority {{ vrrp_priority }}
    #notify /etc/keepalived/notify.sh

    authentication {
        auth_type PASS
        auth_pass "{{ vrrp_auth_pass }}"
    }

    virtual_ipaddress {
        {{ kubernetes_api_vip_cidr }}
    }

    track_script {
        check_api_server_script
    }
}
