global_defs {
    script_user ansible
    enable_script_security
}

vrrp_script chk_servers {
    script "/etc/keepalived/haproxy-healthz.sh | grep -q '200 OK'"
    interval 2
    weight 4 
    fall 2
    rise 2

    init_fail
}

vrrp_instance VI_1 {
    state MASTER
    interface eth0
    virtual_router_id 51
    priority 101
    advert_int 1

    unicast_peer {
        {{ vvrp_unicast_peer }}/24
    }

    authentication {
        auth_type PASS
        auth_pass 2rf4F54g54g%4t
    }

    virtual_ipaddress {
            {{ vvrp_virtual_ip }}/24
    }

    track_script {
            chk_servers
    }
}
