apiVersion: projectcalico.org/v3
kind: BGPConfiguration
metadata:
  name: default
spec:
  logSeverityScreen: Info
  nodeToNodeMeshEnabled: true
  asNumber: {{ kubernetes_global_bgp_asn }}

{% for proxy in groups['k8s-proxy'] %}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: {{ hostvars[proxy]['inventory_hostname'] }}-peer
spec:
  peerIP: {{ hostvars[proxy]['ansible_host'] }}
  asNumber: {{ kubernetes_global_bgp_asn }}
{% endfor %}
