---
apiVersion: kadalu-operator.storage/v1alpha1
kind: KadaluStorage
metadata:
  namespace: kadalu
  name: storage-pool-1
spec:
  volume_id: 381fed44-cedd-11eb-8344-666bff195b24
  type: Replica3
  storage:
{% for item in groups['k8s_workers'] %}
  - node: {{ hostvars[item]['inventory_hostname'] }}
    device: /dev/sda
{% endfor %}
